html, body, .slide {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	overflow: hidden;
}

.slide {
	transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
	opacity: 0;
	display: none;
}

.tile {
	position: absolute;
	width: 100%;
	height: 100%;
}

.tile.left, .tile.right { width: 50%; }
.tile.top, .tile.bottom { height: 50%; }

.tile.w3 { width: 33.333%; }
.tile.h3 { height: 33.333%; }

.tile.left { left: 0; }
.tile.right { right: 0; }
.tile.top { top: 0; }
.tile.bottom { bottom: 0; }
.tile.centerw.w3 { left: 33.333%; }
.tile.centerh.h3 { top: 33.333%; }

.slidebg {
	background-position: center;
	background-color: #333;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.bgcover {
	background-size: cover;
}

#controls {
	position: absolute;
	bottom: 16px;
	left: 16px;
	color: white;

	filter: drop-shadow(0px 4px 8px rgba(0,0,0,0.5));
	-webkit-filter: drop-shadow(0px 4px 8px rgba(0,0,0,0.5));
	
    user-select: none;
    -webkit-user-select: none;
}
#controls > i {
	font-size: 76px;
}